<h2>All Users</h2>
<%= link "Create New User", to: user_path(@conn, :new), class: "btn btn-primary" %>
<hr>

<table class='table'>
	<%= for user <- @users do %>
		<tr>
			<td><%= user.username %></td>
			<td>id: <%= user.id %></td>
			<td><%= user.email %></td>
			<td><%= user.type %></td>
			<td><%= link "Edit Account", to: user_path(@conn, :edit, user.id) %></td>
		</tr>
	<% end %>
</table>

<table class='table'></table>