<h2>Show room</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @room.title %>
  </li>

  <li>
    <strong>Topic:</strong>
    <%= @room.topic %>
  </li>

  <ul>
  	<h3>Users</h3>
  	<%= for user <- @room.users do %>
  		<li>
  			username: <%= user.username %>
  		</li>
  	<% end %>
  </ul>

</ul>

<%= link "Edit", to: room_path(@conn, :edit, @room) %>
<%= link "Back", to: room_path(@conn, :index) %>
